*{
  margin: 0;
  font-family: Arial;
  border: border-box;
}

.navbar{
  height: 60px;
  background-color: #0F1111;
  color:white;
  display: flex;
  align-items: center;

}

.nav-logo{
  height: 50px;
  width:100px;

}

.logo{
  background-image: url("amazon_logo.png");
  background-size:cover;
  height:50px;
  width:100%;

}

.border{
  border: 1.5px solid transparent;
}

.border:hover{
  border: 1.5px solid white;
}

/**Box 2**/
.add-first{
color: #cccccc;
font-size: 0.85 rem;
margin-left: 15px;
}

.add-second{
  font-size: 1 rem;
  margin-left: 3px;
}

.add-icon{
  display: flex;
  align-items: center;
}

/**Box 3**/
.nav-search{
  display:flex;
}