*{
  margin: 0;
  font-family: Arial;
  border: border-box;
}

.navbar{
  height: 60px;
  background-color: #0F1111;

}

.navlogo{
  height: 50px;
  width:100px;

}

.logo{
  background-image: url("amazon_logo.png");
  background-size:cover;
  height:50px;
  width:100%;

}